@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400&display=swap');


body {
    background-color: whitesmoke; /* set background color*/
}

* { /* set font of entire page*/
    scroll-behavior: smooth;
    font-family: 'Source Sans Pro', sans-serif;
}
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) {
    body {
        font-size: 10vw;
    } 
    
}
h1  {
    text-align: center; /* center h1*/
    font-size: xx-large; /* increase size of h1*/
    color:rgb(11, 31, 50) ;/* change color of h1 */
}

#navigation {
    display: inline-block;
}
nav {
    display: block;
    border: 2px solid seagreen;
    border-color: black;
    padding: 5px;
}

a[href="current"] {
    font-size: large;
}


h2 {
    text-align: left;
    font-size: 30px;
    text-decoration: underline;
    margin: auto auto auto auto;
}

h3 {
    font-size: 25px;
    margin-left: 6vw;
}

img {
    padding-bottom: 20px;
    position: relative;
    left: 40px;
    height: 10%;
    width: auto;
}
#summary {
    font-size: 2em;
}
#recording {
    display: inline-block;
    border: 3px solid darkblue;
    border-style: dashed;
    border-radius: 5%;
    padding: 10px 10px 10px 10px;
    margin-bottom: 3%;
}
.body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    margin: auto auto auto auto;
}
form {
    display: grid;
}
.item {
    grid-area: inherit;
    align-self: center;
    justify-items: start;
}
#name:active, #submit:hover {
    background-color: lightgreen;
}
footer > p {    
    font-size: larger;
    color:#9F2B68
}
form > p {
    color:hsl(214, 100%, 50%)
}
div.class {
    font-size: large;
}

#new p + ul {
    font-weight: bolder;
    font-style: italic;
}
#unfinished p ~ ul {
    font-size: large;
}

